<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @restaurant.name %> Information</strong>
</h2>

<p>
  <strong>Location:</strong> <br>
  <%= @restaurant.address %> <br>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<p>
  <strong>Total number of Up Votes:</strong>
  <%= @restaurant.upVoteCount %>
</p>

<p>
  <strong>Total number of Down Votes:</strong>
  <%= @restaurant.downVoteCount %>
</p>

<p>
  <%= link_to 'Splits Check', up_vote_path(@restaurant.id), method: 'put' %>
  <%= link_to "Doesn't Split Check", down_vote_path(@restaurant.id), method: 'put' %>
</p>

<%= link_to 'Back', restaurants_path_path %>
