<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @restaurant.name %> Information</strong>
</h2>

<p>
  <strong>Location:</strong> <br>
  <%= @restaurant.address %> <br>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<p>
  <strong>Number of Up Votes:</strong>
  <%= @restaurant.upVoteCount %>
</p>

<p>
  <strong>Number of Down Votes:</strong>
  <%= @restaurant.downVoteCount %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
