<!DOCTYPE html>
<html>
  <head>
    <title>Split The Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <h1 class="shadow">Split The Check</h1>
      <h2 class="shadow">A way for you to tell fellow eaters if a particular restaurant splits the check</h2>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <% if user_signed_in? %>
            <li><a href="/">All Restaurants</a></li>
            <li><%= link_to 'New Restaurant', new_restaurant_path %></li>
            <li><%= link_to 'User Profile', user_path(current_user) %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">All Restaurants</a></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
